<link rel="stylesheet" type="text/css"  href="tables.css" />
<link rel="stylesheet" type="text/css"  href="table.css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="basics">
  <tr class="titles">
    <td class="first">Measure</td>
    <td class="second">Value</td>
  </tr>
  <tr class="two">
    <td class="first">Sample ID</td>
    <td class="second">20190110sample14</td>
  </tr>
  <tr class="one">
    <td class="first">Adapter sequence</td>
    <td class="second">GATCGGAAGAGCACACGTCTGAACTCCAGTCAC</td>
  </tr>
  <tr class="two">
    <td class="first">Initial number of reads</td>
    <td class="second">12050043</td>
  </tr>
  <tr class="one">
    <td class="first">Number of trimmed reads</td>
    <td class="second">11684649  (97.0%)</td>
  </tr>
  <tr class="two">
    <td class="first">Minimum-Maximum read length</td>
    <td class="second">15nt - 32nt</td>
  </tr>
  <tr class="one">
    <td class="first">Number of reads too short/long</td>
    <td class="second">886968  7758483</td>
  </tr>
  <tr class="two">
    <td class="first">Average read length</td>
    <td class="second">21.565</td>
  </tr>
  <tr class="one">
    <td class="first">Number of mismatches in the mapping step</td>
    <td class="second">5.00% of the read length</td>
  </tr>
  <tr class="two">
    <td class="first">Number of mapped reads</td>
    <td class="second">3404592</td>
  </tr>
  <tr class="one">
    <td class="first">Number of uniquely mapped reads</td>
    <td class="second">686368</td>
  </tr>
  <tr class="two">
    <td class="first">Counts</td>
    <td class="counts"><a href="../counts/20190110sample14_mirnaCounts.txt" target="_blank">miRNA</a><a href="../counts/20190110sample14_piwirnaCounts.txt" target="_blank">piRNA</a><a href="../counts/20190110sample14_snornaCounts.txt" target="_blank">snoRNA</a><a href="../counts/20190110sample14_snrnaCounts.txt" target="_blank">snRNA</a><a href="../counts/20190110sample14_rrnaCounts.txt" target="_blank">rRNA</a></td>
  </tr>
</table>
