<link rel="stylesheet" type="text/css"  href="tables.css" />
<link rel="stylesheet" type="text/css"  href="table.css" />
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="basics">
  <tr class="titles">
    <td class="first">Measure</td>
    <td class="second">Value</td>
  </tr>
  <tr class="two">
    <td class="first">Sample ID</td>
    <td class="second">20190110sample2</td>
  </tr>
  <tr class="one">
    <td class="first">Adapter sequence</td>
    <td class="second">GATCGGAAGAGCACACGTCTGAACTCCAGTCAC</td>
  </tr>
  <tr class="two">
    <td class="first">Initial number of reads</td>
    <td class="second">12841746</td>
  </tr>
  <tr class="one">
    <td class="first">Number of trimmed reads</td>
    <td class="second">12457201  (97.0%)</td>
  </tr>
  <tr class="two">
    <td class="first">Minimum-Maximum read length</td>
    <td class="second">15nt - 32nt</td>
  </tr>
  <tr class="one">
    <td class="first">Number of reads too short/long</td>
    <td class="second">953606  8040111</td>
  </tr>
  <tr class="two">
    <td class="first">Average read length</td>
    <td class="second">21.555</td>
  </tr>
  <tr class="one">
    <td class="first">Number of mismatches in the mapping step</td>
    <td class="second">5.00% of the read length</td>
  </tr>
  <tr class="two">
    <td class="first">Number of mapped reads</td>
    <td class="second">3848029</td>
  </tr>
  <tr class="one">
    <td class="first">Number of uniquely mapped reads</td>
    <td class="second">624234</td>
  </tr>
  <tr class="two">
    <td class="first">Counts</td>
    <td class="counts"><a href="../counts/20190110sample2_mirnaCounts.txt" target="_blank">miRNA</a><a href="../counts/20190110sample2_piwirnaCounts.txt" target="_blank">piRNA</a><a href="../counts/20190110sample2_snornaCounts.txt" target="_blank">snoRNA</a><a href="../counts/20190110sample2_snrnaCounts.txt" target="_blank">snRNA</a><a href="../counts/20190110sample2_rrnaCounts.txt" target="_blank">rRNA</a></td>
  </tr>
</table>
